apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service
  namespace: hackathon
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      containers:
        - name: application-service
          image: us-central1-docker.pkg.dev/flash-spot-478811-m2/hackathon-repo/application-service:latest
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: application-service
  namespace: hackathon
spec:
  selector:
    app: application-service
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
